BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CP[0]" SITE "16" ;
LOCATE COMP "CP[1]" SITE "17" ;
LOCATE COMP "CP[2]" SITE "27" ;
LOCATE COMP "CP[3]" SITE "28" ;
LOCATE COMP "D[0]" SITE "13" ;
LOCATE COMP "D[1]" SITE "12" ;
LOCATE COMP "D[2]" SITE "11" ;
LOCATE COMP "D[3]" SITE "10" ;
LOCATE COMP "D[4]" SITE "9" ;
LOCATE COMP "D[5]" SITE "8" ;
LOCATE COMP "D[6]" SITE "5" ;
LOCATE COMP "D[7]" SITE "4" ;
VOLTAGE 3.300 V;
SYSCONFIG MCCLK_FREQ=88.67 ;
