BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "INV_CSYNC" SITE "25" ;
LOCATE COMP "INV_LUM0" SITE "26" ;
LOCATE COMP "INV_LUM1" SITE "27" ;
IOBUF PORT "INV_CSYNC" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "INV_LUM0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "INV_LUM1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "REFCLK" SITE "11" ;
SYSCONFIG MCCLK_FREQ=2.08 CONFIG_SECURE=ON ;
LOCATE COMP "SELECTION[3]" SITE "21" ;
LOCATE COMP "SELECTION[2]" SITE "20" ;
LOCATE COMP "SELECTION[1]" SITE "17" ;
LOCATE COMP "SELECTION[0]" SITE "16" ;
LOCATE COMP "SEL50HZ" SITE "23" ;
IOBUF PORT "SEL50HZ" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SELECTION[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SELECTION[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SELECTION[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SELECTION[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "REFCLK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "AUX_CSYNC" SITE "8" ;
IOBUF PORT "AUX_CSYNC" IO_TYPE=LVCMOS33 ;
