BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "selector[0]" SITE "16" ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "selector[1]" SITE "17" ;
LOCATE COMP "selector[2]" SITE "20" ;
LOCATE COMP "selector[3]" SITE "21" ;
LOCATE COMP "INV_CSYNC" SITE "25" ;
LOCATE COMP "INV_LUM0" SITE "26" ;
LOCATE COMP "INV_LUM1" SITE "27" ;
IOBUF PORT "selector[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "selector[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "selector[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "selector[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "INV_CSYNC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "INV_LUM0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "INV_LUM1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "REFCLK" SITE "11" ;
LOCATE COMP "debug" SITE "13" ;
IOBUF PORT "debug" IO_TYPE=LVCMOS33 ;
